.App {
  font-family: consolas;
}

.gems {
  display: grid;
  gap: 2px;
}

.gem {
  text-align: center;
  box-sizing: border-box;
}

.gem:not(.gem-empty) {
  cursor: pointer;
  user-select: none;
}

.gem-red {
  background-color: red;
}

.gem-green {
  background-color: green;
}

.gem-blue {
  background-color: blue;
}

.gem-purple {
  background-color: purple;
}

.gem-pink {
  background-color: pink;
}

.gem.selected {
  border: 2px solid orange;
}

.points-value {
  display: inline-block;
  padding: 6px 8px;
}
