.App {
  font-family: consolas;
}

.gems {
  display: grid;
  gap: 2px;
}

.gem {
  text-align: center;
}

.gem-red {
  background-color: red;
}

.gem-green {
  background-color: green;
}

.gem-blue {
  background-color: blue;
}

.gem-purple {
  background-color: purple;
}

.gem-pink {
  background-color: pink;
}
